* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 1360px;
    background-color: rgb(255, 255, 255);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

/* TELA DE LOGIN */

.container1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 50%;
    height: 90%;
    background-color: rgb(255, 255, 255);
}

/*  */

/* IMAGEM COMPLEMENTAR */

.container2 {
    background-color: #DB4B90;
    display: flex;
    background-image: url('./imgs/login/fundoCachorro.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 50%;
    height: 100%;
}

/*  */





.span_bem_vindo {
    font-size: 32px;
    font-weight: bold;
}

.div_mensagem_erro {
    margin-top: 20px;
    font-size: 16px;
    font-weight: medium;
    display: none;
    align-items: center;
    justify-content: center;
    width: 467px;
    height: 55px;
    border-radius: 10px;
    text-align: justify;
    background-color: #FFDEDF;

}

.button_entrar {

    background-color: #DB4B90;
    border-radius: 30px;
    width: 249px;
    height: 40px;
    color: white;
    border: none;
    font-size: 20px;
}

.span_cadastrase {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.a_cadastrase {
    font-size: 18px;
    font-weight: mixed;
    color: #DB4B90;
}


.div_botao_voltar{
    display: flex;
    margin-bottom: -10vh;
    margin-left: -40vw;

}

.button_botao_voltar {
    border: none;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: -80%;
    margin-bottom: -70px;
}

.img_botao_voltar {

    width: 26px;
    margin-right: 5px;
    margin-top: -10px;

}



/* TAGS PURAS */

input {
    outline: none;
    width: 467px;
    height: 47px;
    background-color: #E5E5E5;
    border-color: #DB4B90;
    border-style: groove;
    border-width: 3px;
    box-sizing: border-box;
    box-shadow: rgb(142, 138, 138) 1px 4px 8px;
    border-radius: 10px;
    margin-bottom: 2px;
    transition: 0.3s;

}

input:hover {
    background-color: #ffffff;
    box-shadow: #DB4B90 1px 4px 8px;
    transition: 0.2s;
}

label {
    font-size: 22px;
    font-weight: medium;
    display: flex;
    flex-direction: column;
}

a {
    color: #DB4B90;
    cursor: pointer;
    text-decoration: none;
}



button {
    transition: 0.3s;
}