@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&family=Nunito:wght@200;400;500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 100%;
    background-color:#FFDEDF;
    font-size: 16px;
    font-weight: 500;
}

.cabecalho-menu{
    width: 5%;
    height: 100%;
    background-color: #DB4B90;
    position: fixed;
    /* padding: 3% 0 3% 1%; */
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .1.5s;
}

.menu-navbar{
    height: 100%;
}

.cabecalho-menu:hover{
    width: 20%;
    height: 100%;
}

.cabecalho-menu:hover .txt-link{
    display: flex;
}

.cabecalho-menu:hover .logo-img-navbar{
    display: flex;
}


.btn-lateral-menu{
    display: flex;
    height: 8%;
    width: 90%;
    padding-left: 20px;
    padding-top: 20px;
    gap: 10%;
}

.btn-lateral-menu i{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.logo-img-navbar{
    align-items: center;
    display: none;
}

.btn-lateral-menu > i{
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
}

ul{
    list-style-type: none;
}

.todos-menu-item{
    height: 50%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
    /* padding: 20px 10px; */
 
}

.menu-item{
    display: flex;
    align-items: center;
    height: 41%;
    width: 100%;
    padding: 0 25px;
}

.menu-item:hover{
    border-left: 4px solid white;
} 

li.menu-item a{
    display: flex;
}

ul li.menu-item a{
    font-family: 'Nunito', sans-serif;
    color: #FFDEDF;
    text-decoration: none;
    font-size: 16px;
}

ul li.menu-item a .txt-link{
    margin-left: 30px;
}

.menu-item:hover{
    color: #FFC3C5;
}

.txt-link{
    display: none;
}


hr{
    width: 85%;
    border-top: 2px solid white;
    background-color: #dddddd;
}

.menu-item-meu-perfil{
    display: flex;
    align-items: center;
    height: 10%;
    padding-left: 20px;
}

.menu-item-meu-perfil:hover{
    border-left: 4px solid white;
} 

.menu-item-meu-perfil a{
    display: flex;
    gap: 10px;
    font-family: 'Nunito', sans-serif;
    color: #FFDEDF;
    text-decoration: none;
    font-size: 16px;
}
/* .menu-item-meu-perfil{
    box-shadow: 0 2px 0 #ffffff; /*ver como coloca em cima
} */

.menu-item-sair{
    display: flex;
    align-items: center;
    height: 10%;
    padding-left: 20px;
}

.menu-item-sair:hover{
    border-left: 4px solid white;
} 

.menu-item-sair a{
    display: flex;
    font-family: 'Nunito', sans-serif;
    color: #FFDEDF;
    text-decoration: none;
    font-size: 16px;
    margin-top: 5vh;

}

.menu-item-meu-perfil a .txt-link, .menu-item-sair a .txt-link{
    margin-left: 20px;
}

.space-menor{
    height: 3%;
}

.space{
    height: 5%;
}


/*tela feed-parceiro*/


