@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

main {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}


/*  ANIMACAO LOAD PAGINA */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* BOTOES */

button {
    cursor: pointer;

}

button:hover {
    background-color: #E5E5E5;
    color: #DB4B90;
    box-shadow: #DB4B90 1px 4px 8px;
    transition: 0.1s;

}


.button_voltar{
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(219, 75, 144);
    border-radius: 8px;
}


/* LINKS */
a {
    color: #DB4B90;
    cursor: pointer;
    text-decoration: none;
}


/* INPUTS */
input {
    padding: 7px 30px 7px 30px;
    outline: none;
}

input:hover {
    background-color: #ffffff;
    box-shadow: #DB4B90 1px 4px 8px;
    transition: 0.2s;
}